[submodule "vim/bundle/splitjoin"]
	path = vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/bundle/vim-lesscss"]
	path = vim/bundle/vim-lesscss
	url = git://github.com/vitalk/vim-lesscss.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/switch"]
	path = vim/bundle/switch
	url = https://github.com/AndrewRadev/switch.vim.git
[submodule "vim/bundle/gapply"]
	path = vim/bundle/gapply
	url = git://github.com/AndrewRadev/gapply.vim.git
[submodule "vim/bundle/sideways"]
	path = vim/bundle/sideways
	url = git://github.com/AndrewRadev/sideways.vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-elixir"]
	path = vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "vim/bundle/vim-php-refactoring"]
	path = vim/bundle/vim-php-refactoring
	url = https://github.com/vim-php/vim-php-refactoring
[submodule "vim/bundle/phpcomplete.vim"]
	path = vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/bundle/php.vim"]
	path = vim/bundle/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bin/git-ksh"]
	path = bin/git-ksh
	url = git@gist.github.com:b78dea890b5341b0a4496569abcbfde4.git
[submodule "src/st"]
	path = src/st
	url = git://git.suckless.org/st
[submodule "priv"]
	path = priv
	url = git@github.com:anoxic/priv.git
