<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.zick.RemoveGlobalAdobeDaemons</string>
        <key>Program</key>
        <string>/Users/mykl/.rc/macos/bin/RemoveGlobalAdobeDaemons</string>
        <key>StartInterval</key>
        <integer>10800</integer>
    </dict>
</plist>
